body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.classTest {
  background-color: "black";
}
/* company info */

/* .company-info {
  position: relative;
  left: 5%;
  max-width: 40%;
  top: 6%;
  padding: 40px 0 0 40px;
} */
/* 
.company-status-active {
  padding: 0 25px;
  height: 30px;
  border-radius: 5px;
  background-color: #7fa6a3;
  color: #ffffff;
}

.company-status-dis {
  padding: 0 25px;
  height: 30px;
  border-radius: 5px;
  background-color: #854b44;
  color: #ffffff;
} */
/* .MuiGrid-spacing-xs-2 {
  width: calc(100%) !important;
} */
